/* UTILS */
@use "./utils/variables";
@use "./utils/typography";
/* LAYOUT */
@use "./layout/header";
@use "./layout/footer";
/* BASE */
@use "./base/layout";
/* COMPONENTS */
@use "./components/buttons";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}