@use "./variables" as v;

/* TEXT DEFAULT */
body {
  font-family: v.$font-primary;
  line-height: v.$line-height-base;
  font-weight: v.$font-weight-regular;
  color: #333;
}

/* TITLES */
h1, h2, h3 {
  font-family: v.$font-title;
}

h1 {
  font-size: 30px;
  font-weight: v.$font-weight-bold;
}

h2 {
  font-size: 24px;
  font-weight: v.$font-weight-bold;
}

h3 {
  font-size: 18px;
  font-weight: v.$font-weight-regular;
}

/* PARAGRAPH */
p {
  font-size: 16px;
  line-height: v.$line-height-base;
}