/* COLORS */
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

/* BASIC COLORS */
$color-green: #1b6150;
$color-grey-light: #eaeaea;
$color-grey: #f6f6f6;
$color-grey-dark-s: #7e7e7e;
$color-grey-dark: #353535;
$color-white: #fff;
$color-black: #000;


/* TYPOGRAPHY */
// FONTS
$font-primary: "Roboto", sans-serif;
$font-title: "Shrikhand", cursive;
// WEIGHT
$font-weight-thin: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
// LINE HEIGHT
$line-height-base: 1.5;

/* BREAKPOINTS */
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-large: 1440px;

/* HEADER SPACING */
$header-spacing-mobile: 14px;
$header-spacing-desktop: 60px;

/* BORDER RADIUS */
$radius-pill: 25px;