@use "../utils/variables" as v;
@use "../utils/mixins" as m;

.steps {
  padding: 40px 0;
  background-color: v.$color-white;
}

.steps-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1080px;
  margin: 0 auto;
}

.steps-title {
  align-self: flex-start;
  margin-bottom: 20px;
  font-family: inherit;
  font-size: 22px;
}

.steps-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  @include m.respond-to(desktop) {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }
}


.steps-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 335px;
  padding: 20px;
  background-color: v.$color-grey;
  border-radius: 16px;
  position: relative;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;

  i {
    color: v.$color-grey-dark-s;
  }

  &--colored i {
    color: v.$color-primary;
  }

  &:hover {
    transform: translateY(-2px);
  }

  @include m.respond-to(desktop) {
    flex: 1;
    max-width: 335px;
  }
}

.steps-number {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 24px;
  height: 24px;
  left: -12px;
  background-color: v.$color-primary;
  color: v.$color-grey;
  font-size: 12px;
  border-radius: 50%;
}
