@use "../utils/mixins" as m;

.container {
  padding: 14px;

  @include m.respond-to(tablet) {
    padding: 24px;
  }

  @include m.respond-to(desktop) {
    padding: 30px;
  }
}

html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}